# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
